<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}
	  
	  <!-- Robot Easter Egg -->
	  {% include robot_easter_egg.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

	  <!-- Plugin JavaScript -->
	  <script src="{{ '/assets/js/jquery.easing.min.js' | relative_url }}"></script>

	  <!-- Contact form JavaScript -->
	  <script src="{{ '/assets/js/jqBootstrapValidation.js' | relative_url }}"></script>
	  <script src="{{ '/assets/js/contact_me.js' | relative_url }}"></script>

	  <!-- Custom scripts for this template -->
	  <script src="{{ '/assets/js/agency.min.js' | relative_url }}"></script>
	  
	  <!-- Dropdown functionality -->
	  <script src="{{ '/assets/js/dropdown.js' | relative_url }}"></script>
	  
	  <!-- Image slider functionality -->
	  <script src="{{ '/assets/js/image-slider.js' | relative_url }}"></script>
	  
	  <!-- Reality Lab Chatbot (Search + WebLLM) -->
	  {% include chatbot.html %}
	  {% include webllm-chatbot.html %}

  </body>
</html>